<!DOCTYPE html>
<html>
<head>
<title>UHK layout</title>
<meta charset="utf-8">
</head>
<body>
<div id="layout"></div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/svg.js/dist/svg.min.js"></script>
<script src="../bower_components/svg.parser.js/svg.parser.min.js"></script>
<script src="../bower_components/svg.import.js/svg.import.min.js"></script>
<script src="../bower_components/svg.absorb.js/svg.absorb.min.js"></script>
<script src="../bower_components/svg.export.js/svg.export.min.js"></script>
<script src="../bower_components/FileSaver/FileSaver.js"></script>
<script src="layout.js"></script>
</body>
</html>
