<!DOCTYPE html>
<html>
<head>
</head>
<body>

<input type="radio" id="layer-base" name="layer" value="base" checked>
<label for="layer-base">Base layer</label>
<input type="radio" id="layer-mod" name="layer" value="mod">
<label for="layer-mod">Mod layer</label>
<input type="radio" id="layer-fn" name="layer" value="fn">
<label for="layer-fn">Fn layer</label>
<input type="radio" id="layer-mouse" name="layer" value="mouse">
<label for="layer-mouse">Mouse layer</label>
<br>

<input type="checkbox" id="only-keycaps">
<label for="only-keycaps">show only keycaps</label>
<br>

<button id='reload-button'>reload</button>
<a href="#" id="svg-link">open svg in new tab</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('input').change(function() {
        updateLayout();
    });

    $('#reload-button').click(function() {
        updateLayout();
    });

    $('#svg-link').click(function() {
        window.open(getDisplayUrl(), '_blank');
    });

    updateLayout();

    function updateLayout()
    {
        top.frames["layout"].location = getDisplayUrl();
    }

    function getDisplayUrl()
    {
        return 'layout.html?' +
            'layer=' + $('input[name=layer]:checked').val() +
            '&onlyKeycaps=' + $('#only-keycaps').is(':checked') +
            '&ts=' + new Date().getTime();
    }
});
</script>

</body>
</html>
